.content {
    padding: 10pt;
}

div.head {
    height: 60pt;
    width: 100%;

    display: flex;
}

div.head > div:nth-child(1n) {
    float: left;
}
div.head > div:nth-child(1n) > h3 {
    white-space: nowrap;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

div.head > div:nth-child(2n) {
    float: right;
    width: 100%;
}

div.head > div:nth-child(2n) > div {
}
div.head > div:nth-child(2n) > * {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
