dynamicall {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: white;
}
dynamicall > .dc-list {
    word-wrap: break-word;
    margin: 10px 10px;
    margin-bottom: calc(50pt + 10px);
}
dynamicall > .error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
dynamicall > .loading-logo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -100%)
}
dynamicall > .loading-logo > div {
    width: 50px;
    height: 50px;
    background-size: 100%;
    animation: loading-rotating 1.5s normal infinite;
}
dynamicall > .loading-logo > p {
    position: relative;
    width: 100px;
    text-align: center;
}
@keyframes loading-rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
